<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strava-analyse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    
    <body>
        <div id="header-container"></div>

        <div id="main-content">
            <div id="data-field">
                <!-- Data vil vises her -->
                <h1>Velkommen</h1> 
                <h3>Data vil vises her 8)</h3>
                <p>Kom i gang med å analysere dine data her!</p>
            </div>
        </div>

        <!-- Pakker -->

        <script src="https://cdn.socket.io/4.7.0/socket.io.min.js"></script>

        <!-- Mine pakker -->
         
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/elements/progressBar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidebar/logic.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidebar/sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidebar/style.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils/api.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils/dom.js') }}"></script>
    </body>
</html>
